<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vZ's &middot; score</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="vZ">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@vz10" />
<meta name="twitter:creator" content="@vz10" />
<meta name="twitter:title" content="Только здесь все оценки по информатике и не только..."/>
<meta name="twitter:description" content="Уникальная возможность узнать обо всех своих оценках, а также о ценных, хоть и виртуальных, наградах. Плюс к этому можно выяснить кто главный неудачник школы в этом сезоне. Не проходите мимо!"/>
<meta name="twitter:image:src" content="http://dl.dropboxusercontent.com/u/20018982/backToSchool.jpg"/>


    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <style type="text/css">

    .marketing {
        margin: 60px 0;
    }
</style>

</head>
<body>
<div class="container-big">
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="{{ urlPattern }}">Главная</a></li>
            <li><a href="{{ urlPattern }}choice/">Оценки</a></li>

            <li><a href="{{ urlPattern }}visitChoice/">Посещения</a></li>
            <li ><a href="{{ urlPattern }}achieve/">Достижения</a></li>
            <li><a href="{{ urlPattern }}about/">Описание</a></li>
              <!--     <li><a href="{{ urlPattern }}test/">Тестирование</a></li>  -->
            <li><a href="{{ urlPattern }}contacts/">Контакты</a></li>
        </ul>

        <h3 class="muted">vZ's score</h3>
    </div>
</div>

<hr>
<div class="container-big">
    <img src="{% static "images/rabbidAbsent.jpg" %}" alt="" class="img-rounded">
</div>
<hr>
<div class="container-big">

        <h2>Посещение уроков информатики в {{ grade }} классе </h2>
    <table class="table table-striped table-bordered">
        <tr>
        <td>Фамилия</td>
             {% for date in dates %}
                 <td align="center">{{ date }}</td>
            {% endfor %}
        </tr>
        {% for each in visits %}
            <tr>

                {% for every in each %}
                    <td {% if every == 2 %}
                     class="success"
                    {% endif %}
                    {% if every == 1 %}
                     class="danger"
                    {% endif %} >
                    {% if every > 3 %}
                     {{ every }}
                    {% endif %}
                    </td>
                {% endfor %}


            </tr>

        {% endfor %}
    </table>
    <hr>

    <div class="footer">
        <p>&copy; vZ 2015</p>
    </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42499564-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
